<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jaw X-Ray Processing Application</title>
  <link rel="stylesheet" href="/Static/CSS/BaseStyles.css">
</head>

<body>
  <div class="container">
    <aside class="sidebar">
      <h2>ToothScan</h2>
      <ul>
        <li><a href="/en" class="active">Home</a></li>
        <li><a href="/compareEN/">Compare Images</a></li>
        <li><a href="features-extraction.html">Feature Extraction</a></li>
      </ul>
      <div class="dropup">
        <button class="dropbtn">Language</button>
        <div class="dropup-content">
          <a href="/">RUS</a>
          <a href="/en">ENG</a>
        </div>
      </div> 
    </aside>

    <main>
      <header>
        <h1>Jaw X-Ray Processing Application</h1>
      </header>
      <section>
        <h2>Welcome to the Jaw X-Ray Processing Application</h2>
        <p>This application allows for advanced processing of jaw X-ray images, enabling effective diagnostics and
          analysis.</p>
        <p>Explore our features and see how they can assist you in your work.</p>
      </section>
      <footer>
        <p>&copy; 2025 Jaw X-Ray Processing Application.</p>
      </footer>
    </main>
  </div>
</body>

</html>