<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Страница извлечения признаков из снимков</title>
  <link rel="stylesheet" href="/Static/CSS/BaseStyles.css">
  <link rel="stylesheet" href="/Static/CSS/index.css">
</head>

<body>
  <div class="container">
    <aside class="sidebar">
      <div class="sidebar-header">
        <h2>
          <img src="/Static/Pictures/jaw.png">
          ToothScan
        </h2>
      </div>

      <ul>
        <li>
          <a href="/">
            <img src="/Static/Pictures/home.png"></img>
            Главная
          </a>
        </li>
        <li>
          <a href="/compare/">
            <img src="/Static/Pictures/compare.png"></img>
            Сравнение снимков
          </a>
        </li>
        <li>
          <a href="/extract/" class="active">
            <img src="/Static/Pictures/reduction.png"></img>
            Извлечение признаков
          </a>
        </li>
      </ul>

      <div class="language-selector">
        <div class="dropup">
          <button class="dropbtn">
            <img src="/Static/Pictures/world.png"></img>
            Language 
            <i class="fas fa-chevron-up"></i>
          </button>
          <div class="dropup-content">
            <a href="/">RUS</a>
            <a href="/en">ENG</a>
          </div>
        </div>
      </div>
    </aside>
    <main>

    <footer>
      <div class="footer-content">
        <div>
          <h3>ToothScan</h3>
        </div>
        <p class="copyright">
            &copy; 2025 Приложение для обработки рентгеновских снимков челюсти. Все права защищены.
        </p>
      </div>
    </footer>
    </main>
  </div>
</body>
</html>
