.venv/
__pycache__/
app/core/NeuralNetworkModels/Models/
config.env
dataset/
ForNNTrain/
checkpoints/
backend/NNModels/PretrainedModels/*.pth
backend/NNModels/PretrainedModels/*.keras
backend/NNModels/PretrainedModels/*.h5
backend/Routers/Templates/Static/Uploads/
