/* Reset default margin and padding */
html, body, h1, p, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set body background color */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Set container styles */
.container {
    text-align: center;
}

/* Set heading styles */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Set paragraph styles */
p {
    color: #666;
    margin-bottom: 10px;
}

/* Set button styles */
.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: block; /* Change to block to place buttons vertically */
    margin-bottom: 10px; /* Add margin between buttons */
}

/* Change button color on hover */
.btn:hover {
    background-color: #0056b3;
}

/* Стили для заголовка */
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Стили для параграфов */
p {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Стили для результата */
.result {
    font-size: 20px;
    font-weight: bold;
}

/* Стили для идентификатора */
.identifier {
    font-style: italic;
}

#progressBarContainer {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    margin-top: 10px;
    display: none;
}

#progressBar {
    height: 100%;
    background-color: #007bff;
}

#progressStatus {
    margin-top: 10px;
    font-weight: bold;
}
