<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ToothScan</title>
    <link rel="stylesheet" href="/Static/CSS/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to ToothScan!</h1>
        <p>
            This is your homepage. Where you can go to
            download or compare jaw x-rays pages
        </p>
        <a class="btn" href="/upload/">Go to Upload Page</a>
        <br>
        <a class="btn" href="/compare/">Go to Compare Page</a>
    </div>
</body>
</html>
